@font-face {
    font-family: "CharisSIL";
    src: url(../fonts/CharisSIL-R.otf);
}

@font-face {
    font-family: "SymbolB";
    src: url(../fonts/SymbolB.otf);
}

@font-face {
    font-family: "FreeSetBoldSanPin";
    src: url(../fonts/FRS75SP.otf);
    font-weight: bold;
}

@font-face {
    font-family: "FreeSetBoldSanPin";
    src: url(../fonts/FRS76SP.otf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "FreeSetExtraBold";
    src: url(../fonts/FRS95.otf);
    font-weight: bold;
}

@font-face {
    font-family: "FreeSetExtraBold";
    src: url(../fonts/FRS96.otf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "FreeSetLight";
    src: url(../fonts/FRS45.otf);
    font-weight: bold;
}

@font-face {
    font-family: "FreeSetLight";
    src: url(../fonts/FRS46.otf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "NewtonSanPin";
    src: url(../fonts/NWT55SP.otf);
}

@font-face {
    font-family: "NewtonSanPin";
    src: url(../fonts/NWT56SP.otf);
    font-style: italic;
}

@font-face {
    font-family: "NewtonSanPin";
    src: url(../fonts/NWT75SP.otf);
    font-weight: bold;
}

@font-face {
    font-family: "NewtonSanPin";
    src: url(../fonts/NWT76SP.otf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "PragmaticaSanPin";
    src: url(../fonts/PRG55SP.otf);
}

@font-face {
    font-family: "PragmaticaSanPin";
    src: url(../fonts/PRG56SP.otf);
    font-style: italic;
}

@font-face {
    font-family: "PragmaticaSanPin";
    src: url(../fonts/PRG75SP.otf);
    font-weight: bold;
}

@font-face {
    font-family: "PragmaticaSanPin";
    src: url(../fonts/PRG76SP.otf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "TextBookSanPin";
    src: url(../fonts/TXB55SP.otf);
}

@font-face {
    font-family: "TextBookSanPin";
    src: url(../fonts/TXB56SP.otf);
    font-style: italic;
}

@font-face {
    font-family: "TextBookSanPin";
    src: url(../fonts/TXB75SP.otf);
    font-weight: bold;
}

/* Шрифты Вентана-Граф */
@font-face {
    font-family: "Journal";
    src: url(../fonts/JRN55.otf);
}

@font-face {
    font-family: "Journal";
    src: url(../fonts/JRN75.otf);
    font-weight: bold;
}

@font-face {
    font-family: "MathFont";
    src: url(../fonts/MTF.otf);
}

@font-face {
    font-family: "NewBaskervilleITC";
    src: url(../fonts/NWB55.otf);
}

@font-face {
    font-family: "NewBaskervilleITC";
    src: url(../fonts/NWB75.otf);
    font-weight: bold;
}

@font-face {
    font-family: "Petersburg";
    src: url(../fonts/PTR56.otf);
    font-style: italic;
}

@font-face {
    font-family: "Petersburg";
    src: url(../fonts/PTR76.otf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "TextBook";
    src: url(../fonts/TXB55.otf);
}

@font-face {
    font-family: "TextBook";
    src: url(../fonts/TXB56.otf);
    font-style: italic;
}

@font-face {
    font-family: "TextBook";
    src: url(../fonts/TXB75.otf);
    font-style: bold;
}

@font-face {
    font-family: "Lazurski";
    src: url(../fonts/LZR45.otf);
}

@font-face {
    font-family: "Lazurski";
    src: url(../fonts/LZR65.otf);
    font-weight: bold;
}

@font-face {
    font-family: "Lazurski";
    src: url(../fonts/LZR65.otf);
    font-weight: bold;
}

@font-face {
    font-family: "OfficinaSansBook";
    src: url(../fonts/OSN45.otf);
}

@font-face {
    font-family: "OfficinaSansBook";
    src: url(../fonts/OSN46.otf);
    font-style: italic;
}

@font-face {
    font-family: "OfficinaSansBook";
    src: url(../fonts/OSN65.otf);
    font-weight: bold;
}

@font-face {
    font-family: "OfficinaSansBook";
    src: url(../fonts/OSN65.otf);
    font-weight: bold;
}

@font-face {
    font-family: "FranklinGothic";
    src: url(../fonts/FRG55.otf);
}

@font-face {
    font-family: "FranklinGothic";
    src: url(../fonts/FRG56.otf);
    font-style: italic;
}

@font-face {
    font-family: "FranklinGothic";
    src: url(../fonts/FRG75.otf);
    font-weight: bold;
}

@font-face {
    font-family: "FranklinGothicMedium";
    src: url(../fonts/FRG65.otf);
}

@font-face {
    font-family: "FranklinGothicHeavy";
    src: url(../fonts/FRG85.otf);
    font-weight: bold;
}

@font-face {
    font-family: "FreeSet";
    src: url(../fonts/FRS55.otf);
}

@font-face {
    font-family: "SchoolBook";
    src: url(../fonts/SCB55.otf);
}

@font-face {
    font-family: "SchoolBook";
    src: url(../fonts/SCB75.otf);
    font-weight: bold;
}