﻿/* ==========================================================================
  style.css v 1.1
   ========================================================================== */
@import "fonts.css" all;

/* шрифты */
@font-face {
    font-family: "SchoolBookSanPin";

    src: url(../fonts/SCB55SP.otf);
}

@font-face {
    font-family: "SchoolBookSanPin";
    font-style: italic;

    src: url(../fonts/SCB56SP.otf);
}

@font-face {
    font-family: "SchoolBookSanPin";
    font-weight: bold;

    src: url(../fonts/SCB75SP.otf);
}

@font-face {
    font-family: "SchoolBookSanPin";
    font-weight: bold;
    font-style: italic;

    src: url(../fonts/SCB76SP.otf);
}

/* Основные параметры */
html {
    height: 100%;
    background-image: url("../icons/html-back.png");
}

body {
    font-family: "SchoolBookSanPin";
    font-size: 21pt;
    line-height: 1.2;
    width: 60%;
    min-width: 1019px;
    max-width: 98%;
    min-height: 100%;
    margin: 0 auto;
    padding: 50px 98px 50px 72px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 #000;
    position: relative;
}

#RootDiv {
    margin-top: 50px;
}

#RootDiv:after {
    display: table;
    clear: both;
    content: " ";
}

/* Символьные стили */
.no-wrap {
    white-space: nowrap;
}

.hidden {
    display: none;
}

.bold {
    font-weight: 700;
}

.normal {
    font-weight: normal;
}

.italic {
    font-style: italic;
}

.bold-italic {
    font-weight: 700;
    font-style: italic;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

img {
    width: 100%;
}

p img,
span img {
    position: relative;
    top: 0;
    display: inline-block;
    width: auto;
}

/* tooltip */
#RootDiv .foot-note {
    position: relative;
    top: -.5em;
    display: inline-block;
    width: 13px;
    height: 12px;
    background: url(../icons/icons.png);
    background-position: 0 0;
}

#RootDiv .foot-note {
    position: relative;
    top: -.5em;
    display: inline-block;
    width: 13px;
    height: 12px;
    background: url(../icons/icons.png);
    background-position: 0 0;
}

#RootDiv sup > .foot-note,
#RootDiv .sup > .foot-note {
    font-size: 100%;
    top: 0;
}

#RootDiv .tooltip.top .tooltip-arrow {
    border-top-color: #a0a0a0;
}

#RootDiv .tooltip-inner {
    font-family: "Pragmatica";
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    min-width: 300px;
    max-width: 400px;
    padding: .5em;
    text-align: left;
    white-space: normal;
    text-indent: 0;
    text-transform: none;
    border: 2px solid #a0a0a0;
    background-color: #c0c0c0;
}

.foot-note .fn-contents {
    display: none;
}

/* Обложка и Help */
.cover_block {
    float: left;
    width: 36%;
    margin-top: 40pt;
}

.cover_block img {
    box-shadow: 0 0 10px 5px #ddd;
}

#TitulBook {
    background: url("../icons/button-info.png") 50% 50% no-repeat;
}

#Help {
    margin-top: 50px;
    background: url("../icons/button-help.png") 50% 50% no-repeat;
}

#Help,
#TitulBook {
    display: block;
    max-width: 227px;
    height: 47px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    text-decoration: none;
    border-radius: 4px;
    background-size: contain;
}

/* Иконки */
a.icon-in-fields {
    position: absolute;
    z-index: 115;
    right: 0;
    display: block;
    overflow: hidden;
    width: 60px;
    height: 60px;
    padding: 0;
}

.icon-in-fields > * {
    display: none !important;
}

a.icon-in-fields.objectType1 {
    background-image: url("../icons/text.png");
    background-size: 100%;
}

a.icon-in-fields.objectType2 {
    background-image: url("../icons/illustration.png");
    background-size: 100%;
}

a.icon-in-fields.objectType3 {
    background-image: url("../icons/video.png");
    background-size: 100%;
}

a.icon-in-fields.objectType4 {
    background-image: url("../icons/audio.png");
    background-size: 100%;
}

a.icon-in-fields.objectType5 {
    background-image: url("../icons/interactive.png");
    background-size: 100%;
}

a.icon-in-fields.objectType6 {
    background-image: url("../icons/hiper.png");
    background-size: 100%;
}

a.icon-in-fields.objectType7,
a.icon-in-fields.objectType9,
a.icon-in-fields.objectType10,
a.icon-in-fields.objectType11,
a.icon-in-fields.objectType12,
a.icon-in-fields.objectType13,
a.icon-in-fields.objectType14,
a.icon-in-fields.objectType21,
a.icon-in-fields.objectType22,
a.icon-in-fields.objectType31,
a.icon-in-fields.objectType32,
a.icon-in-fields.objectType33,
a.icon-in-fields.objectType34 {
    background-image: url("../icons/practic.png");
    background-size: 100%;
}

a.icon-in-fields.objectType8,
a.icon-in-fields.objectType15,
a.icon-in-fields.objectType16,
a.icon-in-fields.objectType17,
a.icon-in-fields.objectType18,
a.icon-in-fields.objectType19,
a.icon-in-fields.objectType20,
a.icon-in-fields.objectType35,
a.icon-in-fields.objectType38 {
    background-image: url("../icons/control.png");
    background-size: 100%;
}

a.icon-in-fields.objectType24 {
    background-image: url("../icons/slideshow.png");
    background-size: 100%;
}

a.icon-in-fields.objectType23 {
    background-image: url("../icons/animation.png");
    background-size: 100%;
}

h1,
h2,
h3,
h4,
h5 {
    margin-left: 40%;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
    text-decoration: none;
    color: inherit;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid;
}

/* Указатель ЭОР */
.main-objects-list > *:first-child {
    margin-top: 40pt;
}

div.main-objects-list h1,
div.main-objects-list h2,
div.main-objects-list h3,
div.main-objects-list h4,
div.main-objects-list h5 {
    margin-left: 0;
}

div.main-objects-list > .media-object {
    font-size: .9em;
    display: inline-flex;
    flex-direction: row;
    margin: .1em 0 .1em 1em;

    align-items: center;
}

div.main-objects-list > .media-object:before {
    display: table;
}

div.main-objects-list > a.objectType1:before {
    content: url("../icons/text.png");
}

div.main-objects-list > a.objectType2:before {
    content: url("../icons/illustration.png");
}

div.main-objects-list > a.objectType3:before {
    content: url("../icons/video.png");
}

div.main-objects-list > a.objectType4:before {
    content: url("../icons/audio.png");
}

div.main-objects-list > a.objectType5:before {
    content: url("../icons/interactive.png");
}

div.main-objects-list > a.objectType6:before {
    content: url("../icons/hiper.png");
}

div.main-objects-list > a.objectType7:before,
div.main-objects-list > a.objectType9:before,
div.main-objects-list > a.objectType10:before,
div.main-objects-list > a.objectType11:before,
div.main-objects-list > a.objectType12:before,
div.main-objects-list > a.objectType13:before,
div.main-objects-list > a.objectType14:before,
div.main-objects-list > a.objectType21:before,
div.main-objects-list > a.objectType22:before,
div.main-objects-list > a.objectType31:before,
div.main-objects-list > a.objectType32:before,
div.main-objects-list > a.objectType33:before,
div.main-objects-list > a.objectType34:before {
    content: url("../icons/practic.png");
}

div.main-objects-list > a.objectType8:before,
div.main-objects-list > a.objectType15:before,
div.main-objects-list > a.objectType16:before,
div.main-objects-list > a.objectType17:before,
div.main-objects-list > a.objectType18:before,
div.main-objects-list > a.objectType19:before,
div.main-objects-list > a.objectType20:before,
div.main-objects-list > a.objectType35:before,
div.main-objects-list > a.objectType38:before {
    content: url("../icons/control.png");
}

div.main-objects-list > a.objectType24:before {
    content: url("../icons/slideshow.png");
}

div.main-objects-list > a.objectType23:before {
    content: url("../icons/animation.png");
}

/* Номера страниц */
#PageBreakOuter {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.page-break {
    position: relative;
    visibility: hidden;
    margin: 0;
    padding: 0;
}

.PageNum {
    font-size: .85em;
    position: absolute;
    right: 0;
    min-width: 50pt;
    text-align: center;
}

/* Разрешения экрана */
@media screen and (max-width:1034px) {
    body {
        min-width: 98%;
    }
}

@media all and (orientation:landscape) and (width:2048px) {
    body {
        font-size: 24pt;
    }
}

@media all and (orientation:portrait) and (width:1536px) {
    body {
        font-size: 26pt;
        width: 92% !important;
        margin-left: 1%;
    }

    table {
        font-size: 20pt;
    }
}

@media all and (orientation:landscape) and (max-width:1536px) {
    body {
        font-size: 24pt;
    }
}

@media all and (orientation:portrait) and (max-width:1600px) {
    html {
        overflow-x: hidden;
    }

    body {
        font-size: 16pt;
        width: 90% !important;
        margin-left: 1%;
    }

    img.font_base {
        max-width: 24em !important;
    }

    img.font_plus {
        max-width: 26em !important;
    }

    img.font_minus {
        max-width: 20em !important;
    }
}

@media all and (orientation:landscape) and (width:1024px) {
    body {
        font-size: 18pt;
        width: 80%;
    }
}

@media all and (orientation:portrait) and (width:768px) {
    body {
        font-size: 16pt;
        width: 90% !important;
        margin-left: 1%;
    }

    table {
        font-size: 16pt;
    }
}

@media screen and (max-width:800px) {
    body {
        font-size: 16pt;
        width: 90% !important;
        margin-left: 1%;
    }
}

/* for start_mp3 function */
.audio_block {
    position: fixed;
    z-index: 150;
    bottom: -50px;
    width: 100%;
    height: 50px;
    background-color: #000;
}

.audiojs {
    font-size: 18px;
    width: 100%;
    height: 50px;
}

.audiojs .play-pause {
    font-family: "Glyphicons Halflings";
    font-size: 24px;
    width: 50px;
    height: 50px;
    padding: 10px 10px 10px 13px;
    cursor: pointer;
    color: #ddd;
    box-shadow: 1px 0 0 0 #616161;
}

.audiojs .play-pause > p {
    font-family: inherit;
}

.audiojs p {
    width: 26px;
    height: 26px;
    padding: 0;
}

.audiojs .play:before {
    content: "\e072";
}

.audiojs .pause:before {
    content: "\e073";
}

.audiojs .loading:before {
    content: "\e030";
}

.audiojs .error:before {
    content: "\e090";
}

.audiojs .scrubber {
    position: absolute;
    right: 370px;
    left: 50px;
    width: auto;
    height: 20px;
    margin: 15px 10px;
}

.audiojs .progress {
    height: 18px;
    border-radius: 0;
}

.audiojs .loaded {
    height: 18px;
}

.audiojs .time {
    line-height: 50px;
    float: right;
    width: 150px;
    height: 50px;
    padding: 0;
    text-align: center;
    border-left: 1px solid #616161;
    box-shadow: -1px 0 0 0 #000;
}

.audiojs .error-message {
    line-height: 50px;
    position: absolute;
    right: 200px;
    left: 50px;
    overflow: hidden;
    width: auto;
    height: 50px;
    margin: 0 10px;
}

.audiojs .volume {
    float: right;
    width: 160px;
    height: 50px;
    padding: 0;
    text-align: center;
    border-left: 1px solid #616161;
    box-shadow: -1px 0 0 0 #000;
}

.audiojs .volume input {
    float: right;
    width: 105px;
    margin: 16px 4px 16px 0;
    cursor: pointer;
}

.audiojs .volume .glyphicon {
    font-size: 30px;
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    padding: 10px;
    cursor: pointer;
    color: #ddd;
}

.audiojs .close {
    font-size: 30px;
    line-height: 50px;
    float: right;
    width: 50px;
    height: 50px;
    text-align: center;
    opacity: 1;
    color: #fff;
    border-left: 1px solid #616161;
    box-shadow: -1px 0 0 0 #000;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .5);
}

.audiojs .close:hover {
    opacity: 1;
}
