/*
* @Author: vbatushev
* @Date:   2015-07-02 10:10:04
* @Last Modified by:   vbatushev
* @Last Modified time: 2015-07-31 12:28:08
*/

 @font-face {
    font-family: 'FreeSetBoldSanPin';
    font-weight: bold;
    src: url(../fonts/FRS75SP.otf);
 }
  @font-face {
    font-family: 'FreeSetBoldSanPin';
    font-weight: bold;
    font-style: italic;
    src: url(../fonts/FRS76SP.otf);
 }
 @font-face {
    font-family: 'FreeSetExtraBold';
    font-weight: bold;
    src: url(../fonts/FRS95.otf);
 }
 @font-face {
    font-family: 'FreeSetExtraBold';
    font-weight: bold;
    font-style: italic;
    src: url(../fonts/FRS96.otf);
 }
  @font-face {
    font-family: 'FreeSetLight';
    font-weight: bold;
    src: url(../fonts/FRS45.otf);
 }
 @font-face {
    font-family: 'FreeSetLight';
    font-weight: bold;
    font-style: italic;
    src: url(../fonts/FRS46.otf);
 }


html { height: 100%;}
body.titulBody {
    font-family: "FreeSetLight";
    padding:5%;
    height: 100%;
    font-size: 18px;
}

#titulWrap {
    text-align: center;
    width:100%;
    margin:0 auto;
    min-height: 100%;
    position: relative;
}

#titulTop {
}

#titulBottom {
    margin-top: 3em;
}

#titulWrap h1, #titulWrap h2, #titulWrap h3, #titulWrap h4 {
    text-align: center;
}

#titulWrap h1, #titulWrap h2, #titulWrap h3 {
    font-family: 'FreeSetBoldSanPin';
    font-weight: 900;
}

#titulWrap hr {
    border:1px solid #F00;
    margin:50px 0;
}

#titulWrap h1 { font-size: 38px; }

#titulWrap h2 {
    font-size: 38px;
    display: inline-block;
    background: #F00;
    color: #FFF;
    padding:0.5% 1% 1%;
    margin:0.2em 0 5px;
}

#titulWrap h3 { font-size: 24px; }
#titulWrap h4 { font-size: 24px; }
#titulWrap h4.manual { font-size: 24px; letter-spacing: 0.2em; margin: 1em 0 0.7em;}
#titulWrap .version { color: #DDD; position: absolute; top: -40px; right: 0;}
#titulBottom table { width:100%; }
#titulBottom table td { text-align: center; width: 20%; vertical-align: bottom;}
#titulBottom table td:first-child { text-align: left; width: 40%;}
#titulBottom table td:last-child { text-align: right; width: 40%;}

#titulBottom .scenars, #titulBottom .copyright {
    text-align: right;
}

.vorsatz {
    display: block;
    margin:1em auto;
    width: 100%;
}

@media screen and (max-width: 767px) {
    body {
        padding:10% 3% 5%;
    }
}