/* version 1.1.4 */
header {
    position: fixed;
    z-index: 200;
    top: 0;
    right: 0;
    left: 0;
    display: block;
}

header nav {
    position: relative;
    display: table;
    width: 60%;
    min-width: 1019px;
    height: 50px;
    margin: auto;
    padding: 8px 0;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(50, 50, 50, .75);
}

header h1 {
    font-size: 13pt;
    line-height: 44px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #161616;
    padding-left: 280px;
    padding-right: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header ul li {
    position: relative;
    float: left;
    padding-right: 12px;
}

header ul.dropdown-menu li {
    position: relative;
    float: none;
    padding-right: 0;
}

header ul.left {
    padding-left: 6px;
}

header ul.right {
    float: right;
    padding-right: 6px;
}

.tb-icon {
    font-size: 32px;
    color: #8a8a8a;
}

.tb-icon:hover {
    color: #cacaca;
}

header .icon {
    display: block;
    width: 26px;
    height: 32px;
    background: url("../icons/toolbar-elements.png") no-repeat left top;
}

header .prev {
    width: 20px;
    background-position: -78px top;
}

header .next {
    width: 20px;
    background-position: -98px top;
}

header .search {
    background-position: -118px top;
}

header .bookmarks {
    width: 24px;
    background-position: -144px top;
}

header .menufont {
    width: 34px;
    background-position: -168px top;
}

header .menu:hover,
header .menu:focus {
    background-position: 0 100%;
}

header .prev:hover,
header .prev:focus {
    background-position: -78px 100%;
}

header .next:hover,
header .next:focus {
    background-position: -98px 100%;
}

header .search:hover,
header .search:focus,
header .open > .search {
    background-position: -118px 100%;
}

header .bookmarks:hover,
header .bookmarks:focus,
header .open > .bookmarks {
    background-position: -144px 100%;
}

header .menufont:hover,
header .menufont:focus,
header .open > .menufont {
    background-position: -168px 100%;
}

header #pagesnav {
    font-family: sans-serif;
    font-weight: bold;
    width: 50px;
    height: 30px;
    padding: 6px 0 5px 0;
    text-align: center;
    color: #fff;
    border: 0;
    background: transparent;
    background: url("../icons/toolbar-elements.png") no-repeat -28px top;
    box-shadow: none;

    -moz-appearance: textfield;
}

input::-webkit-inner-spin-button {
    display: none;
}

#sInput::-webkit-input-placeholder {
    color: #505050;
}

header form.search input {
    display: block;
    color: #000;
    border: none;
    background-color: #bebebe;
}

.btn-inverse {
    padding: 9px 12px;
    color: #505050;
    border-color: #bebebe;
    background-color: #bebebe;
}

.btn-inverse:hover {
    color: #1a1a1a;
}

header ul.right li.dropdown-header {
    padding: 3px 0;
    text-align: center;
    text-indent: 0;
}

/* Изменение шрифта */
#fontMenu {
    font-family: sans-serif;
    margin-top: 16px;
    margin-right: 18px;
    padding: 0;
    white-space: nowrap;
    border: none;
    background: none;
    box-shadow: none;
}

#changeFont {
    display: block;
    width: 200px;
    border-collapse: collapse;
    white-space: nowrap;
    border-radius: 6px;
}

#changeFont .btn {
    display: block;
    float: left;
    width: 40px;
    margin: 0;
    padding: 9px 11px;
    text-align: center;
    border: 1px solid #9b9d9f;
    border-right-width: 0;
    background: rgba(255, 255, 255, 1);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 82%, rgba(255, 255, 255, 1) 86%, rgba(203, 204, 204, 1) 100%);
}

#changeFont .btn.active {
    font-weight: bold;
    color: #fff;
    background: rgba(181, 183, 186, 1);
    background: linear-gradient(to bottom, rgba(181, 183, 186, 1) 0%, rgba(181, 183, 186, 1) 82%, rgba(181, 183, 186, 1) 86%, rgba(102, 104, 109, 1) 100%);
    box-shadow: none;
}

#changeFont .btn:first-child {
    border-radius: 6px 0 0 6px;
}

#changeFont .btn:last-child {
    border-right-width: 1px;
    border-radius: 0 6px 6px 0;
}

/* Закладки */
.tooltip-inner {
    font-family: sans-serif;
    font-size: 15px;
    width: 300px;
    padding: 3px 6px;
    text-align: left;
    color: #000;
    background: #acd6f2;
}

.tooltip.left {
    margin-right: 3em;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #acd6f2;
}

#bookmarksBar {
    position: absolute;
    top: -50px;
    right: -5px;
    width: 30px;
    height: 100%;
}

.wrapbookmark {
    position: absolute;
    margin: 0;
    padding: 0;
    text-indent: 0;
}

.bookmark {
    display: block;
    width: 30px;
    height: 36px;
    color: #fff;
    background: url("../icons/bookmarks.png") no-repeat left top;
}

.bookmark .fa {
    font-size: 44px;
    text-shadow: -2px 2px 5px 0 rgba(50, 50, 50, .5);
}

.bookmark-red {
    background-position: left top;
}

.bookmark-blue {
    background-position: -34px top;
}

.bookmark-yellow {
    background-position: -68px top;
}

.bookmark-green {
    width: 31px;
    background-position: -100px top;
}

.mark.bookmark-red {
    color: #000;
    background-color: #f6adcd;
}

.mark.bookmark-yellow {
    color: #000;
    background-color: #ffe293;
}

.mark.bookmark-green {
    color: #000;
    background-color: #cfe5ae;
}

.mark.bookmark-blue {
    color: #000;
    background-color: #acd6f2;
}

.fa-page:before {
    content: "\f0c5";
}

.fa-page-asc:before {
    content: "\f0c5\2002\f175";
}

.fa-page-desc:before {
    content: "\f0c5\2002\f176";
}

.fa-date:before {
    content: "\f017";
}

.fa-date-asc:before {
    content: "\f175\2002\f017";
}

.fa-date-desc:before {
    content: "\f176\2002\f017";
}

#notFoundBookmarks {
    position: absolute;
    right: -6px;
    width: 36px;
}

#notFoundBookmarks .wrapbookmark {
    position: relative;
}

.wrapbookmark.Later:after {
    font-family: "FontAwesome";
    font-size: 16px;
    line-height: 32px;
    position: absolute;
    top: 0;
    right: 5px;
    content: "\f017";
    pointer-events: none;
    color: rgba(255, 255, 255, .8);
}

#notFoundBookmarks .wrapbookmark:after {
    font-family: "Glyphicons Halflings";
    font-size: 16px;
    position: absolute;
    top: 0;
    right: 11px;
    content: "\e090";
    color: red;
}

#MenuBookmarks {
    margin-top: 15px;
    padding: 0 0 14px 0;
    border: 4px solid #939598;
    background: #d9d9d9;
}

#MenuBookmarks:after {
    position: absolute;
    top: -18px;
    right: 9px;
    width: 0;
    height: 0;
    margin-left: -10px;
    content: " ";
    border-width: 0 10px 15px 10px;
    border-style: solid;
    border-color: transparent transparent #939598 transparent;
    border-top-width: 0;
}

#MenuBookmarks .fa {
    font-size: 18px;
    margin: 0;
    text-shadow: -1px 2px 3px rgba(0, 0, 0, .4);
}

#MenuBookmarks .fa:hover {
    text-shadow: -1px 2px 3px rgba(0, 0, 0, .7);
}

#MenuBookmarksFooter {
    padding: 6px 12px 0;
    margin-bottom: -8px;
}
#MenuBookmarksToolbar {
    background: #b9b9b9;
}

#MenuBookmarksToolbar a,
#MenuBookmarksFooter a {
    color: #fff;
}

#MenuBookmarksToolbar span,
#MenuBookmarksFooter span {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-right: 12px;
}

#MenuBookmarksToolbar .laterselect,
#MenuBookmarksFooter .laterselect{
    padding: 0;
}

#MenuBookmarksContainer {
    overflow-y: scroll;
    width: 470px;
    max-height: 450px;
    padding: 4px 10px;
    background: #fff;
}

#MenuBookmarksContainer td {
    border: 0;
}

#MenuBookmarksContainer a {
    color: #333;
}

#MenuBookmarksContainer .bm {
    padding: 10px 0 6px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
}

#MenuBookmarksContainer .bm:last-of-type {
    border-bottom: none;
}

#MenuBookmarksContainer .bm > .menuitem {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#MenuBookmarksContainer .bm > .menuitem table {
    margin: 0;
    padding: 0;
}

#MenuBookmarksContainer .bm > .menuitem > table td {
    font-size: 13px;
    line-height: 15px;
    padding: 0 4px;
    white-space: nowrap;
}

#MenuBookmarksContainer .bm > .menuitem .mark {
    position: relative;
    width: 80px;
    padding-right: 20px;
}

#MenuBookmarksContainer .bm > .menuitem .mark:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    content: " ";
    -webkit-transform: rotate(360deg);
    border-width: 10px 10px 10px 0;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
}

#MenuBookmarksContainer .bm > .menuitem .msg {
    font-weight: bold;
    line-height: 16px;
    padding: 2px 4px;
    white-space: normal;
}

#MenuBookmarksContainer .bm > .menuitem i {
    font-size: 14px;
    color: rgba(200, 200, 200, 1);
}

#MenuBookmarksContainer .bm td.user {
    position: relative;
    overflow: hidden;
    width: 190px;
}

#MenuBookmarksContainer .bm td.remove i {
    font-size: 13px;
    color: #d9534f;
}

#BookmarkForm {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
}

#BookmarkForm h4 {
    font-size: 2em;
}

#BookmarkForm .control-label {
    font-size: 15px;
    margin-top: .5em;
}

.popover {
    font-family: sans-serif;
    width: 400px;
    max-width: 400px;
    padding: 0;
    border: 4px solid #939598;
}

.popover.left > .arrow {
    right: -14px;
    margin-top: -14px;
    border-left-color: #939598;
}

.popover.left > .arrow:after {
    border-left-color: #939598;
}

.popover-content {
    margin: 0;
    padding: 0;
}

#BookmarkForm {
    text-indent: 0;
}

#BookmarkForm > button.btn-close {
    position: absolute;
    top: -14px;
    right: -14px;
    width: 24px;
    height: 24px;
    padding: 0;
    text-align: center;
    color: #939598;
    border: none;
    border-radius: 14px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

#BookmarkForm > button.btn-close:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    content: " ";
    border: 2px solid #939598;
    border-radius: 14px;
}

#BookmarkForm > button.btn-close .fa {
    font-size: 15px;
    line-height: 24px;
    position: absolute;
    top: 0;
    left: 6px;
}

#EditBookmarkToolbar {
    font-size: 12px;
    padding: 4px 6px;
    background: #e6e6e6;
}

#EditBookmarkToolbar .btn-add {
    font-size: 11px;
    font-weight: bold;
    height: 36px;
    color: #fff;
    border: none;
    background: rgba(181, 183, 186, 1);
    background: url(../icons/btn-back.png);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}

#EditBookmarkToolbar .btn-remove {
    width: 34px;
    height: 34px;
    background: url(../icons/trash.png) no-repeat;
}

#EditBookmarkColors {
    z-index: 2;
    width: 192px;
    height: 42px;
    margin-right: 6px;
    padding: 0 5px;
    border-radius: 6px;
    background: #fff;
}

#EditBookmarkColors .shadow {
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    border-radius: 6px;
    box-shadow: inset 0 6px 8px -5px rgba(0, 0, 0, .75);
}

#EditBookmarkColors .btn {
    font-size: 41px;
    line-height: 26px;
    z-index: auto;
    overflow: hidden;
    width: 44px;
    margin-right: 2px;
    padding: 0 6px 3px 6px;
    border: 2px solid #fff;
    border-top: none;
    border-radius: 6px;
    text-shadow: 0 2px 6px rgba(0, 0, 0, .5);
}

#EditBookmarkColors .btn input {
    display: none;
}

#EditBookmarkColors .btn.active {
    border-color: #939598;
}

#EditBookmarkColors .btn i {
    margin-top: -6px;
}

#EditBookmarkColors .btn-blue {
    color: #acd6f2;
}

#EditBookmarkColors .btn-yellow {
    color: #ffe293;
}

#EditBookmarkColors .btn-red {
    color: #f6adcd;
}

#EditBookmarkColors .btn-green {
    color: #cfe5ae;
}

#EditBookmarkContent {
    padding-bottom: 78px;
}

#EditBookmarkContent .checkbox.pull-right {
    font-size: 13px;
    line-height: 17px;
    margin-top: 1px;
    padding-right: 6px;
}

#EditBookmarkContent textarea {
    font-size: 16px;
    line-height: 22px;
    width: 100%;
    height: 80px;
    padding: 3px 4px;
    resize: none;
    border: 0;
    box-shadow: inset 0 6px 8px -5px rgba(0, 0, 0, .75);    /*margin-bottom: 15px;*/
}

#BookmarkLater {
    margin: 2px 0 0 -20px;
}

#EditBookmarkFootbar {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 4px;
    border-top: 1px solid #939598;
    background: #e6e6e6;
}

#EditBookmarkFootbar i.glyphicon,
#EditBookmarkFootbar i.fa {
    font-size: 14px;
    color: #939598;
}

#EditBookmarkFootbar table {
    margin: 0;
}

#EditBookmarkFootbar td {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    padding: 2px 2px;
    text-align: left;
    white-space: nowrap;
    text-indent: 0;
    border: 0;
}

.modal-dialog {
    text-indent: 0;
}

.modal-dialog label.control-label {
    display: block;
}

/* Поиск */
#MenuSearch {
    font-family: sans-serif;
    width: 360px;
    min-height: 70px;
    margin-top: 15px;
    padding: 32px 0 0 0;
    border: 4px solid #939598;
    background: #fff;
}

#MenuSearch:after {
    position: absolute;
    top: -18px;
    right: 9px;
    width: 0;
    height: 0;
    margin-left: -10px;
    content: " ";
    border-width: 0 10px 15px 10px;
    border-style: solid;
    border-color: transparent transparent #707070 transparent;
    border-top-width: 0;
}

#MenuSearchBar {
    position: absolute;
    top: 0;
    width: 100%;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, .5);
}

#MenuSearchBar input {
    font-size: 14px;
    line-height: 18px;
    width: 324px;
    padding: 6px;
    border: none;
}

#MenuSearchBar button {
    display: none;
}

button#searchClear {
    position: absolute;
    top: 4px;
    right: 4px;
    display: block;
    width: 22px;
    height: 22px;
    padding: 0;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 12px;
    background: #656565;
}

button#searchClear .fa {
    font-size: 15px;
    line-height: 18px;
    position: absolute;
    top: 2px;
    left: 6px;
    margin-left: -1px;
}

#MenuSearchResults {
    overflow-y: auto;
    max-height: 450px;
    padding: 0 6px;
}

#MenuSearchResults h2 {
    margin: 0 0 6px 0;
    padding: 0;
    text-align: center;
    text-indent: 0;
}

span.SearchPage {
    position: absolute;
    top: 3px;
    right: 0;
    display: block;
    width: 25px;
    padding: 0 2px;
    text-align: center;
    border-top: 1px solid;
}

ol.searchResults {
    font-size: 12px;
    font-weight: normal;
    line-height: 1.4em;
    margin-top: 12px;
    margin-left: 10px;
    padding: 0 6px;
}

ol.searchResults li {
    position: relative;
    width: 100%;
    padding-right: 30px;
    padding-bottom: 1em;
}

a.sResult {
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

a.sResult:hover {
    border-bottom: 1px dotted #666;
}

.searchResult {
    padding: 0 3px;
    background: #c9cacb;
}

.highlight {
    background: Yellow;
}

/* Счетчик закладок в содержании */
.bookMarkNum {
    font-size: 11px;
    color: #333;
    background-color: #dcdcdc;
    padding: .5em 0.9em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 6px;
    display: inline;
    vertical-align: .7em;
    border: 1px solid rgba(0, 0, 0, 0.08);
    font-weight: normal;
    margin-right: 6px;
    display: none;
}
.bookMarkNum-blue {
    background-color: #acd6f2;
}
.bookMarkNum-red {
    background-color: #f6adcd;
}
.bookMarkNum-yellow {
    background-color: #ffe293;
}
.bookMarkNum-green {
    background-color: #cfe5ae;
}

/* Статус сервера */
#alertConnection {
    border-radius: 0 0 4px 4px;
    border-top: 0;
    font-size: 28px;
    line-height: 28px;
}

/* Крупный тулбар */
@media all and (orientation:portrait) and (max-width:1024px) {
    header nav {
        min-width: 100%;
    }
}

@media all and (max-width:1034px) {
    header nav {
        width: 98%;
        min-width: 98%;
        height: 70px;
        padding: 2px 0;
    }

    header h1 {
        font-size: 20pt;
        top: 7px;
        display: none;
    }

    header .icon {
        width: 56px;
        height: 64px;
        background: url("../icons/toolbar-elements-b.png") no-repeat left top;
        background-size: auto 128px;
    }

    header .prev {
        width: 48px;
        margin-right: 5px;
        margin-left: 10px;
        background-position: -152px top;
    }

    header #pagesnav {
        font-size: 19px;
        margin-top: 7px;
        background-image: url("../icons/toolbar-elements-b.png");
    }

    header nav ul li {
        padding-right: 3px;
    }

    header .next {
        width: 48px;
        margin-right: 10px;
        margin-left: 5px;
        background-position: -192px 0;
    }

    header .search {
        background-position: -236px 0;
    }

    header #pagesnav {
        height: 40px;
    }

    header .bookmarks {
        width: 44px;
        background-position: -292px 0;
    }

    header .menufont {
        width: 62px;
        background-position: -340px 0;
    }

    header .next:hover,
    header .next:focus {
        background-position: -192px 100%;
    }

    header .search:hover,
    header .search:focus,
    header .open > .search {
        background-position: -236px 100%;
    }

    header .bookmarks:hover,
    header .bookmarks:focus,
    header .open > .bookmarks {
        background-position: -292px 100%;
    }

    header .prev:hover,
    header .prev:focus {
        background-position: -152px 100%;
    }

    header .menufont:hover,
    header .menufont:focus,
    header .open > .menufont {
       background-position: -340px 100%;
    }

    .input-group .form-control {
        font-size: 22px;
        height: 40px;
        margin-top: 7px;
    }

    .btn-inverse {
        margin-top: 7px;
        padding: 8px 12px;
    }

    #MenuBookmarks {
        right: 5px;
    }

    #changeFont {
        width: 240px;
    }

    #changeFont .btn {
        width: 48px;
    }
}

@media screen and (min-width:0) and (max-width:1034px) {
    .dropdown-header {
        font-size: 25px;
    }

    header #pagesnav {
        font-size: 35px;
        width: 92px;
        height: 64px;
        margin-top: 0;
        padding-top: 2px;
        background-position: -60px -1px;
    }

    .dropdown-menu.dropdown-menu-right {
        padding-right: 5px;
        padding-left: 5px;
    }

    #minFont,
    #valFont,
    #maxFont {
        font-size: 25px;
    }
}

/*** */
@media all and (orientation:landscape) and (width:2048px) {
    header nav {
        width: 60%;
    }
}

@media all and (orientation:portrait) and (width:1536px) {
    header nav {
        width: 92% !important;
        height: 2em;
        margin-left: 1% !important;
    }

    header h1 {
        font-size: 24pt;
        top: 10px;
    }

    header nav ul.left {
        padding-top: 7px;
    }

    header nav #pagesnav {
        font-size: 24pt;
        width: 1.5em;
        height: 1.2em;
    }

    header nav .icon {
        margin-top: .1em;
    }

    .form-control {
        font-size: 24pt;
        height: 1.5em;
        padding: 0 12px;
    }

    .btn {
        font-size: 21pt;
    }
}

@media all and (orientation:portrait) and (max-width:1600px) {
    header nav {
        width: 90% !important;
        margin-left: 1% !important;
    }
}

@media all and (orientation:landscape) and (width:1024px) {
    header nav {
        width: 80%;
    }

    header h1 {
        margin-left: 60%;
    }
}

@media all and (orientation:portrait) and (width:768px) {
    header nav {
        width: 90% !important;
        height: 2.2em;
        margin-left: 1% !important;
    }
}

@media screen and (max-width:800px) {
    header nav {
        width: 90% !important;
        margin-left: 1% !important;
    }
}
